.parking-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-inline: auto;
  width: min(90%, 40rem);
  gap: 1rem;
}
.space {
  border: 1px solid black;
  padding-block: 2rem;
  font-weight: 900;
  font-size: 1.5rem;
}

.blue {
  background-color: #17a650;
}
.red {
  background-color: orange;
}
